*.pyc
__pycache__
venv
.DS_Store
.env
instance
.webassets-cache
*.pyo
*.pyd
*.pyd
.Python
deploy
.pytest_cache
htmlcov
.coverage
.coverage.*
dist
build
site
pyvenv.cfg
dist
egg-info
.eggs
.cache
tmp
.DS_Store
debug
